<!DOCTYPE html>
<html>
<head>
<link href="/static/{{style}}.css" rel="stylesheet" type="text/css" />
</head>
<script>

var meet_time_t

function update_meet_time_t(event)
{
	meet_dt_input = document.getElementById('meet_dt')
	meet_time_t_input = document.getElementById('meet_time_t')
	tz_offset_input = document.getElementById('tz_offset')
	meet_time_t_input.value = meet_dt_input.valueAsNumber/1000
}
</script>
<body onload="update_meet_time_t()">
<h2>Create a rendezvous</h2>
<form action="/create" method="post" >
<input type="hidden" id="current_ids"/>
<table><tbody>
	<tr><td>Your name:</td></tr>
	<tr><td>
		<input type="string" size="20" name="user_name" id="user_name" oninput="saveToLocalStorage(this.value,current_ids.value);"/>
	</td></tr>	
    <tr><td>Description:</td></tr>
    <tr><td>
		<input type="string" size="20" name="rdv_name" id="rdv_name"/>
	</td></tr>
    <tr><td>When:</td></tr>
    <tr><td>
		<input type="datetime-local" name="meet_dt" id="meet_dt" oninput="update_meet_time_t()" />
		<input type="hidden" name="tz_offset" id="tz_offset" />
		<input type="hidden" name="meet_time_t" id="meet_time_t"/>
	</td></tr>
    <tr><td>
    	Duration:
		<input type="integer" size="1" name="duration_hours" id="duration_hours" value="2.0"/> hours
	</td></tr>
    <tr><td>&nbsp;</td></tr>
	<input type="hidden" size="20" name="rdv_id" id="rdv_id" value="{{params['rdv_id']}}" />
	<input type="hidden" size="20" name="ptcpt_id" id="ptcpt_id" value="{{params['ptcpt_id']}}" />
	<input type="hidden" name="northing" id="northing" />
	<input type="hidden" name="easting" id="easting"/>
	<input type="hidden" name="radius_metres" id="radius_metres"/>
    <tr><td>
		<button type="submit" id="submit" disabled="true">Create</button>
	</td></tr>
</tbody></table>
</form>
</body>
<script src="/static/local_storage.js"></script> 
<script>
function pad(num,width)
{
	var r = String(num)
	while(r.length<width)
	{
		r='0'+r
	}
	return r
}
function set_default_start_datetime()
{
	duration_input = document.getElementById('duration_hours')
	var delay_ms = 3600.0*1000*duration_input.value/2.0;
	var default_dt = new Date(Date.now()+delay_ms)
	var default_dt_string = 
		pad(default_dt.getFullYear(),4) +
		'-' + pad(default_dt.getMonth()+1,2) +
		'-' + pad(default_dt.getDate(),2) +
		'T' + pad(default_dt.getHours(),2) +
		':' + pad(default_dt.getMinutes(),2)
	tz_offset_input=document.getElementById('tz_offset')
	tz_offset_input.value=default_dt.getTimezoneOffset()
	start_dt_input=document.getElementById('meet_dt')
	start_dt_input.value=default_dt_string
	update_meet_time_t()
}
set_default_start_datetime()

northing=document.getElementById("northing")
easting=document.getElementById("easting")
radius_metres=document.getElementById("radius_metres")
submit_button=document.getElementById("submit")

if (navigator.geolocation) {
    navigator.geolocation.watchPosition(updatePosition);
} else {
	northing.value=null
	easting.value=null
	radius_metres.value=null
	submit_button.disabled=false
}

function updatePosition(position) {
	northing.value=position.coords.latitude.toFixed(5)
	easting.value=position.coords.longitude.toFixed(5)
	radius_metres.value=position.coords.accuracy.toFixed(0)
	submit_button.disabled=false	
}

</script>
</html>