<!DOCTYPE html>
<head>
<link href="/static/{{style}}.css" rel="stylesheet" type="text/css" />
</head>
<html>
<body>
<h1>On My Way</h3>
<p>This application will try to help you meet your friends!<p>
<form action="/get_started" method="POST">
<input type="hidden" id="name"/>
<input type="hidden" id="current_ids"/>
<input type="hidden" id="future_ids"/>
<table>
<tbody>
<tr><td><button type="submit" id="get_started">Get Started</button></td></tr>
</table>
</form>
</body>
<script src="/static/local_storage.js"></script> 
</html>