<!DOCTYPE html>
<html>
<body>

<h2>Join a rendezvous</h2>

<form action="/join" method="post" enctype="multipart/form-data;charset=UTF-8">

<table><tbody>
	<input type="hidden" size="20" name="rdv_id" id="rdv_id" value="{{params.rdv_id}}" />
	<input type="hidden" size="20" name="rdv_id" id="ptcpt_id" value="{{params.ptcpt_id}}" />
    <tr><td>Participant name:</td><td>
		<input type="string" size="40" name="ptcpt_name" id="ptcpt_name" />
	</td></tr>
    <tr><td></td><td>
		<input type="submit" value="Join" name="submit" />
	</td></tr>
</tbody></table>

</form>

</body>
</html>