<!DOCTYPE html>
<html>
<body>
<h3>On my way</h3>
<table>
<tbody>
 {% for rdv in all_rdv_details %}
  <tr>
  	<td><a href="/rendezvous?rdv_id={{rdv.id}}">{{rdv.id}}</a></td>
  	<td>{{rdv.name}}</td>
  	<td>{{len(rdv.participants)}}<td>
  	<td>{{
  	  time.strftime(
  	    "%a, %d %b %Y %H:%M:%S",
        time.localtime(rdv.meet_time-3600.0*rdv.hours_before)
      )
  	}}</td>
  </tr>
 {% endfor %}
</tdbody>
</table>
 
<h5><a href="/static/index.html">Forms</a></h5>

</body>
</html>