<!DOCTYPE html>
<html>
<head>
<link href="/static/{{style}}.css" rel="stylesheet" type="text/css" />
</head>
<body>

<h2>Report your position</h2>

<form action="/posrep" method="post">

<table><tbody>
	<input type="hidden" size="20" name="rdv_id" id="rdv_id" value="{{params['rdv_id']}}" />
	<input type="hidden" size="20" name="ptcpt_id" id="ptcpt_id" value="{{params['ptcpt_id']}}" />
    <tr><td>Position:</td></tr>
    <tr><td>
		<input type="decimal" size="10" step="0.00001" name="northing" id="northing"/> &nbsp; &deg N
	</td></tr>
    <tr><td>
		<input type="decimal" size="10" step="0.00001" name="easting" id="easting"/> &nbsp; &deg E
	</td></tr>
    <tr><td>
		+/- <input type="decimal" size="4" name="radius_metres" id="radius_metres"/> metres
	</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>
		<button type="submit" id="submit">Send Update</button>
	</td></tr>
</tbody></table>

</body>
<script>
northing=document.getElementById("northing")
easting=document.getElementById("easting")
radius_metres=document.getElementById("radius_metres")
if (navigator.geolocation) {
    navigator.geolocation.watchPosition(updatePosition);
}

function updatePosition(position) {
	northing.value=position.coords.latitude.toFixed(5)
	easting.value=position.coords.longitude.toFixed(5)
	radius_metres.value=position.coords.accuracy
}
</script>
</html>