<!DOCTYPE html>
<html>
  <head>
    <title>On My Way</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
	<!--
	<link href="/static/{{style}}.css" rel="stylesheet" type="text/css" />
	-->
  </head>
  <body>
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8
      });
 	  var marker;
 	  var latLng;
	  var bounds = new google.maps.LatLngBounds();

{% for marker in markers %}
	latLng = new google.maps.LatLng ({{marker[0]}},{{marker[1]}});
  	marker = new google.maps.Marker({
    	position: latLng,
    	map: map,
    	title: '{{marker[2]}}'
 	});	  
  	bounds.extend(latLng);
{% endfor %}
    map.setCenter(bounds.getCenter()); //or use custom center
	map.fitBounds(bounds); 	  
      
    </script>
</tbody></table>
<form id="posrep" action="/rendezvous" method="post">
<input type="hidden" size="20" name="rdv_id" id="rdv_id" value="{{params.rdv_id}}" />
<input type="hidden" size="20" name="ptcpt_id" id="ptcpt_id" value="{{params.ptcpt_id}}" />
<input type="hidden" name="northing" id="northing"/>
<input type="hidden" name="easting" id="easting"/>
<input type="hidden" name="radius_metres" id="radius_metres"/> 
</form>
<script>
northing=document.getElementById("northing")
easting=document.getElementById("easting")
radius_metres=document.getElementById("radius_metres")
posrep_form=document.getElementById("posrep")
ptcpt_id=document.getElementById("ptcpt_id")

function posSuccess(position)
{
	northing.value=position.coords.latitude
	easting.value=position.coords.longitude
	radius_metres.value=position.coords.accuracy
	posrep_form.submit()
}

function posFail()
{
   alert("Failed to get position")
}

function updateAndRefresh()
{
	navigator.geolocation.getCurrentPosition(posSuccess,posFail,{timeout:10000})
}

if(ptcpt_id.value && ptcpt_id.value!="None")
{
	setTimeout(updateAndRefresh,60000)
}
</script>
</html></html>