body,form,table,tbody,h1,h2,p,tr,td{
margin:6px;
padding:6px;
border-width:2px;
border-style:none;
}

body{
width:980px;
height:700px;
background:#7C2;
color:#000;
overflow:hidden;
font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
}



form,table,tbody,tr,td{
position: relative;
width:100%;
margin:0px;
#height:100%;
align-items:flex-start;
}

h1{
font-size:50px;
text-align:center;
}

h2{
font-size:30px;
text-align:center;
}

p,td,input{
font-size:15px;
}

button{
font-size:20px;
position:relative;
width:100%;
height:15%;
vertical-align:middle;
horizontal-align:center;
background:#CCE;
}

button#get_started,button#submit{
height:40px;
}